#github-events {
    position: absolute;
    top: 180px;
    z-index: 0;
    color: white;
    right: 0;
    width: 306px;
    font-size: .75rem;
    height: calc(100vh - 180px);
    overflow: hidden;
    text-shadow: 1px 1px 1px black;
}

#github-events .item {
    border-bottom: dotted 1px #aaa;
    margin: 5px 0;
    padding-bottom: 5px;
}