################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/bndynet.github.io.sln.GhostDoc.xml
/Web.config
/_site
