$color-error: #ff6a00 !default;

body {
    font-family: 'Microsoft YaHei', Inconsolata, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
    position: relative;
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
    & > label {
        font-weight: normal;

        [class^=iradio],
        [class^=icheckbox] {
            margin-top: -3px;
            margin-left: -20px;
        }
    }
}

/* jquery validate */
form {
    .form-control {
        &.error {
            border-color: $color-error;

            & + label {
                &.error {
                    color:  $color-error;
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-weight: normal;
                }
            }
        }
    }

    input[type=radio],
    input[type=checkbox] {
        & + label {
            &.error {
                font-weight: normal;
                position: absolute;
                color: $color-error;
                max-width: none;
                width: 200px;
                display: block;
                top: 18px;
                left: 0;
            }
        }
    }

    .row {
        .form-control {
            &.error {
                & + label {
                    &.error {
                        right: 15px;
                    }
                }
            }
        }
    }

    &.form-inline {
        .form-control {
            &.error {
                & + label {
                    &.error {
                        right: 0;
                        top: -22px;
                    }
                }
            }
        }
    }

    &.form-horizontal {
        .form-control {
            &.error {
                & + label {
                    &.error {
                        right: 20px;
                        top: 6px;
                    }
                }
            }
        }
    }
}
