<section id="about">
  <div class="bg">
    <div class="container">
      <div>
        <img class="avatar" src="{{ site.data.about.img }}" />
        <h1>{{ site.data.about.title }}</h1>
        <hr />
        <p>{{ site.data.about.text }}</p>
      </div>

      <div class="row">
        {% for item in site.data.about.items %}
        <a href="{{item.url}}" class="col-md-4 item">
          {% if item.icon contains "http:" or item.icon contains "https:" %}
          <img
            src="{{ item.icon }}"
            class="wow bounceIn"
            data-wow-delay=".1s"
          />
          {% else %}
          <i
            class="wow bounceIn fa-3x {{ item.icon }}"
            data-wow-delay=".1s"
          ></i>
          {% endif %}
          <h4>{{ item.name }}</h4>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
