<section id="projects">
    <div class="container">
        <div class="row">
            {% assign item_size = site.data.projects | size %} {% for item in site.data.projects %}
            <div class="col-md-{{ 12 | divided_by: item_size }} widget">
                <a href="{{ item.url }}">
                    <img src="{{ item.image}}" />
                </a>
                <h2>{{ item.title }}</h2>
                <p>{{ item.text }}</p>
                <p>
                    <a class="button tiny radius" href="{{ item.url }}">
                        {{ site.data.language.more }}
                    </a>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>