<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    {{ site.data.contact.title }}
                </h2>
                <p>
                    {{ site.data.contact.text }}
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            {% assign item_size = site.data.contact.items| size %}
            {% for item in site.data.contact.items %}
            <div class="col-md-{{ 12 | divided_by: item_size }} col-xs-6 text-center">
                <a href="{{ item.url }}">
                    <i class="{{ item.icon }} fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ item.name }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>