#example {
  display: none; }

header #controls .steps > li > label:first-child {
  display: none; }

header #controls .steps .sub {
  font-size: .85em;
  font-family: Arial; }
  header #controls .steps .sub blockquote {
    font-family: Arial;
    padding: 5px 2px; }

header #controls .steps .first input#user,
header #controls .steps .first input#user:hover,
header #controls .steps .first input#user:focus {
  background-color: #50617F;
  border-color: transparent;
  color: white;
  text-transform: uppercase;
  width: 140px;
  box-shadow: none; }
  header #controls .steps .first input#user:hover,
  header #controls .steps .first input#user:hover:hover,
  header #controls .steps .first input#user:focus:hover {
    border-color: transparent; }

header #controls .steps .first #showBtn {
  display: none; }

header #controls .steps .first .sub blockquote {
  display: none; }

header #userOAuth,
header #misc {
  display: none; }

/* Themes */
body.simple {
  background-image: none;
  background-color: #334D5C; }
  body.simple #controls {
    display: none; }

