body {
    background-image: url(resource/background.jpg);
    background-repeat: no-repeat;
    background-color: #334D5C;

    #layers {
        background-color: transparent;
    }
}
#example {
    display: none;
}

header {
    #controls {
        display: none;
        .steps {

            & > li > label:first-child {
                display: none;
            }
            & > li {
                &:before {
                    border-width: 18px;
                    top: 0;
                    right: -36px;
                }
                &:after {
                    border-width: 19px;
                    top: -1px;
                    right: -39px;
                }
                .btn {
                    height: 28px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 5px;
                }
            }

            .sub {
                font-size: .85em;
                font-family: Arial;

                blockquote {
                    font-family: Arial;
                    padding: 5px 2px;
                }
            }

            .first {
                input#user,
                input#user:hover,
                input#user:focus {
                    background-color: #50617F;
                    border-color: transparent;
                    color: white;
                    text-transform: uppercase;
                    width: 140px;
                    box-shadow: none;

                    &:hover {
                        border-color: transparent;
                    }
                }

                #showBtn {
                    display: none;
                }

                .sub {
                    blockquote {
                        display: none;
                    }
                }
            }
        }
    }

    #userOAuth,
    #misc {
        display: none;
    }
}


/* Themes */

body.advance {
    header {
        #controls {
            display: block;
        }
    }
}
