---
layout: page
---

<style>
  #about img,
  #about i {
    height: 48px;
    margin-top: 1rem;
  }

  #about h6 {
    margin: 1rem 0;
  }

  #about img.avatar {
    height: 150px;
    border-radius: 50%;
  }
</style>

<section id="about">
  <div class="row">
    {% for item in site.data.links %}
    <a href="{{item.url}}" class="col-md-3">
      {% if item.icon contains "http:" or item.icon contains "https:" %}
      <img src="{{ item.icon }}" class="wow bounceIn" data-wow-delay=".1s" />
      {% else %}
      <i class="wow bounceIn fa-3x {{ item.icon }}" data-wow-delay=".1s"></i>
      {% endif %}
      <h6>{{ item.name }}</h6>
    </a>
    {% endfor %}
  </div>
</section>
