---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div id="contributors">
    <a href="/about/">
        <img src="/images/contributors/bendy.png" title="Bendy Zhang" alt="Bendy Zhang" />
    </a>
    <a href="/about/">
        <img src="/images/contributors/shelwin.png" title="Shelwin Su" alt="Shelwin Su" />
    </a>
    <a href="/about/">
        <img src="/images/contributors/allen.png" title="Allen Xu" alt="Allen Xu" />
    </a>
    <a href="/about/">
        <img src="/images/contributors/jason.png" title="Jason Wei" alt="Jason Wei" />
    </a>
    <a href="/about/">
        <img src="/images/contributors/talver.png" title="Talver Wu" alt="Talver Wu" />
    </a>
    <a href="/about/">
        <img src="/images/contributors/andy.png" title="Andy Wang" alt="Andy Wang" />
    </a>
    <a href="/about/">
        <img src="/images/contributors/jeff.png" title="Jeff Liu" alt="Jeff Liu" />
    </a>
</div>

<div id="github-events"></div>

<div>
    <div>
        <iframe id="frontpageFrame" src="/GitHubVisualizer/#user=bndynet&theme=simple" frameborder="0" allowfullscreen frameborder="0" style="width:100%;margin:0px;"></iframe>
        <script>
            $("#frontpageFrame").height($(window).height() - 50);
        </script>
    </div>
</div>

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t30">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-8 columns">
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% for post in site.posts limit:5 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h4><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
            <p class="one-line">
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
            </p>
            {% endfor %}
        </div>

        <div class="medium-4 columns">
            <h2>{{ site.data.language.my_resources}}</h2>
            <h4>Jlib<small>- A Java Library</small></h4>
            <p class="one-line"></p>
                <a href="https://github.com/bndynet/Jlib" class="label blue" target="_blank">Repo</a>
                <a href="http://bndy.net/Jlib/" class="label green" target="_blank">Documentation</a>
            </p>

            <h4>jslib <small>- Utils for jQuery, AngularJS, Lodash...</small></h4>
            <p class="one-line">
                <a href="https://github.com/bndynet/jslib" class="label blue" target="_blank">Repo</a>
                <a href="http://bndy.net/jslib/docs" class="label green" target="_blank">Documentation</a>
            </p>
            
            <h4>Pylib<small>- A Python Library</small></h4>
            <p class="one-line">
                <a href="https://github.com/bndynet/Pylib" class="label blue" target="_blank">Repo</a>
                <a href="http://bndy.net/Pylib/docs" class="label green" target="_blank">Documentation</a>
            </p>

            <h4>jDialog <small>- A Javascript Dialog</small></h4>
            <p class="one-line">
                <a href="https://github.com/bndynet/jDialog" class="label blue" target="_blank">Repo</a>
                <a href="http://bndy.net/jDialog/demo/" class="label yellow" target="_blank">Demo</a>
            </p>
        </div>

        <!-- <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='6' offset='5' %}
        </div> -->
    </div>
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->


