---
layout: default
---

{% include assets-origin.html %}

<div id="main" class="container-fluid p-0">
  <div class="row">

    <!-- core -->
    <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
        {% assign paths = page.url | split: '/' %}
    
        {% if paths.size == 0 or page.layout == 'home' %}
          <!-- index page -->
          <li class="breadcrumb-item active" aria-current="page">{{ site.data.locales[site.lang].tabs.home | capitalize }}</li>
    
        {% else %}
    
          {% for item in paths %}
    
            {% if forloop.first %}
            <li class="breadcrumb-item">
              <a href="{{ '/' | relative_url }}">
              {{ site.data.locales[site.lang].tabs.home | capitalize }}
              </a>
            </li>

            {% unless paths contains 'archives' %}
            <li class="breadcrumb-item">
              <a href="{{ '/archives/' | relative_url }}">
              {{ 'archives' | capitalize }}
              </a>
            </li>
            {% endunless %}
    
            {% elsif forloop.last %}
    
              {% if page.collection == 'tabs' %}
              <li class="breadcrumb-item active" aria-current="page">{{ site.data.locales[site.lang].tabs[item] | default: page.title }}</li>
              {% else %}
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
              {% endif %}
    
            {% elsif page.layout == 'category' or page.layout == 'tag' %}
              
              <li class="breadcrumb-item">
                <a href="{{ item | relative_url }}">
                  {{ site.data.locales[site.lang].tabs[item] | default: page.title }}
                </a>
              </li>
            {% endif %}
    
          {% endfor %}
    
        {% endif %}
        </ol>
      </nav>
      <!-- endof #breadcrumb -->


      <div class="post pl-1 pr-1 pl-md-2 pr-md-2">

      {% capture _content %}
        {% if layout.refactor or page.layout == 'page' %}
          {% include refactor-content.html content=content %}
        {% else %}
          {{ content }}
        {% endif %}
      {% endcapture %}

      {% if page.layout == 'page' or page.collection == 'tabs' %}
        {% assign tab_key = page.title | downcase %}
        {% assign title = site.data.locales[site.lang].tabs[tab_key] | default: page.title %}
        <h1 class="dynamic-title">
          {{ title }}
        </h1>
        <div class="post-content">
          {{ _content }}
        </div>
      {% else %}
        {{ _content }}
      {% endif %}

      </div>
    </div> <!-- #core-wrapper -->

    <!-- panel -->
    <div id="panel-wrapper" class="col-xl-3 pl-2 text-muted">

      <div class="access">
        {% include update-list.html %}
        {% include trending-tags.html %}
      </div>

      {% for _include in layout.panel_includes %}
        {% assign _include_path = _include | append: '.html' %}
        {% include {{ _include_path }} %}
      {% endfor %}
    </div>

  </div>

  <!-- tail -->
  {% if layout.tail_includes %}
  <div class="row">
    <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 pl-3 pr-3 pr-xl-4 mt-5">
      {% for _include in layout.tail_includes %}
        {% assign _include_path = _include | append: '.html' %}
        {% include {{ _include_path }} %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
